<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<div th:include="header :: header"></div>
<div id="main">
    <div class="container">
        <div class="post detail">
            <div class="votebar">
                <button class="click-like up" aria-pressed="false" title="赞同">
                    <i class="vote-arrow"></i>
                    <span class="count" th:text="${news.likeCount}"></span>
                </button>
                <button class="click-dislike down" aria-pressed="true" title="反对">
                    <i class="vote-arrow"></i>
                </button>
            </div>
            <div class="content">
                <img th:class="content-img" th:src="${news.image}" alt="" />
                <div th:class="content-main">
                    <h3 th:class="title">
                        <a th:target="_blank" rel="external nofollow" th:href="${news.link}" th:text="${news.title}" ></a>
                    </h3>
                    <div class="meta">
                        <span th:text="${news.link}"></span>
                        <span>
                            <i class="fa icon-comment" th:text="${news.commentCount}"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="user-info">
                <div class="user-avatar">
                    <a th:href="@{'/user/'+${owner.id}+'/'}"><img th:width="32" th:class="img-circle" th:src="${owner.headUrl}" /></a>
                </div>
            </div>
            <div th:class="subject-name">来自 <a th:href="'/user/'+${owner.id}" th:text="${owner.name}"></a></div>
        </div>
        <div class="post-comment-form">
            <div th:switch="${user}!=null">
                <div th:case="true">
                    <span>评论 (<span th:text="${news.commentCount}"></span>)</span>
                    <form th:method="post" th:action="@{/addComment}">
                        <input th:name="newsId" th:charset="UTF-8" th:type="hidden" th:value="${news.id}"></input>
                        <div class="form-group text required comment_content">
                            <label class="text required sr-only">
                                <abbr title="required">*</abbr> 评论</label>
                            <textarea rows="5" class="text required comment-content form-control" name="content"
                                      id="content">
                            </textarea>
                        </div>
                        <div class="text-right">
                            <input th:type="submit" name="commit" value="提 交" class="btn btn-default btn-info" ></input>
                        </div>
                    </form>
                </div>

                <div th:case="false">
                    <div th:class="login-actions">
                        <a class="btn btn-success" href="/?pop=1">登录后评论</a>
                    </div>
                </div>
            </div>
        </div>
        <div th:id="comments" th:class="comments">
            <div th:class="media" th:each="comment : ${comments}">
                <a th:class="media-left" th:href="@{'/user/'+${comment.get('user').id}}">
                    <img th:src="@{${comment.get('user').headUrl}}" th:alt="''"/>
                </a>
                <div th:class="media-body">
                    <h4 th:class="media-heading">
                        <small th:class="date" th:text="${#dates.format(comment.get('comment').createdDate, 'yyyy-MM-dd HH:mm:ss')}"></small>
                    </h4>
                    <div th:text="${comment.get('comment').content}"></div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" th:src="@{/scripts/main/site/detail.js}"></script>
</div>

<div th:include="footer :: footer"></div>
</html>